body, html {
    margin: 0;
    height: 100%;
}

.wrapper {
    height: 100%;
}

.container {
    padding-top: 10px;
}

.cards__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cards__item {
    /* margin: 20px; */
}

.card {
    background-color: #ccc;
    padding: 10px;
    margin: 20px 0;
    /* border: 1px solid black; */
    width: 300px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.card__owner {
    margin-bottom: 10px;
    visibility: hidden;
}

.card__link {
    display: block;
    margin-bottom: 10px;
    visibility: hidden;
}

.card__buttons {
    text-align: center;
}

.btn {
    margin-right: 10px;
}

.btn__take {
    display: none;
}

.btn__cancel {
    display: none;
}

.card-template {
    display: none;
}